<p>
<ul class="nav nav-list">
  <li class="nav-header">2012-11-30</li>
  <li>
    Completed the addition of over 200 unit tests to NGSUtils. This means
    that every non-experimental command is now being tested. These tests are
    located in the ngsutils/{bam, bed, fastq, gtf}/t/ directories. As part
    of the effort to add unit testing, the entire NGSUtils codebase is being
    refactored to be more library-like, so that it can be more easily be
    included in other projects.
  </li>
  <li class="nav-header">2012-07-17</li>
  <li>
    Finished migrating Git repository over to GitHub from the internal IU GitHub firewall installation. This means that we are
    now running almost exclusively on GitHub infrastructure.
  </li>
  <li class="nav-header">2012-07-09</li>
  <li>
    ngsutils.org site is live!
  </li>
{% if page.title == 'News' %}
  <li class="nav-header">2012-07-06</li>
  <li>
    In anticipation of submitting a paper describing NGSUtils, we are migrating our internal Git repository to the public GitHub site.
  </li>
{% endif %}
</ul>
</p>
